@charset "UTF-8";
.works p, .contact p {
  text-align: center;
  font-size: 1.2em;
}

* {
  position: relative;
  font-family: Overpass;
  font-size: 1em;
  box-sizing: border-box;
  font-family: Ubuntu Condensed;
  font-size: 1.05em;
  transition: all 0.5s;
}

html, body {
  margin: 0;
  height: 100vh;
  overflow-x: hidden;
}

body::-webkit-scrollbar-track {
  border: 1px solid #14b1ce;
  background-color: #F5F5F5;
}
body::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb {
  background-color: #14b1ce;
}

html {
  overflow: hidden;
}

.nav {
  width: 0px;
  background-color: #3368c4;
  z-index: 6;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  height: 100vh;
  padding-top: 2em;
}
.nav i {
  position: absolute;
  top: 0;
  color: #fff;
  font-size: 2em;
  right: 0;
  margin: 0.5em;
  cursor: pointer;
}
.nav i:hover {
  color: yellow;
}
.nav .navItem {
  width: 60%;
  margin: 3vw;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 1.5em;
}
.nav .navItem:hover {
  color: yellow;
}
.nav .navItem:hover::after {
  content: "";
  animation: underline 0.5s 1 linear forwards;
  height: 0;
  position: absolute;
  top: 1.4em;
  left: 0;
  border: solid 2px;
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 10vw;
  }
}
.wideNavContainer {
  position: fixed;
}

.about {
  width: 100%;
  background-color: #14b1ce;
  padding: 5vw 0;
}
.about .avatar {
  display: inline-block;
  width: 20vw;
  height: 20vw;
  background-image: url(https://s6.postimg.org/iaqdzh37l/avatar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 10em;
  border: solid 3px white;
  margin-left: 4vw;
}
.about .info {
  display: inline-block;
  vertical-align: top;
  margin-left: 2.5em;
  color: white;
}
.about .info h3 {
  font-family: Lobster;
  margin: 0;
  font-size: 1.5em;
}
.about .info p {
  margin: 0.5em;
}

.top .sliderBox {
  height: 100vh;
  overflow: hidden;
}
.top .sliderBox .slick-list {
  height: 100%;
  width: 100vw;
}
.top .sliderBox .slick-list .slick-track {
  height: 100%;
  width: 100vw;
}
.top .sliderBox .slick-list .slick-track .img {
  width: 100vw;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 40%;
}
.top .sliderBox .slick-prev {
  position: absolute;
  z-index: 5;
  transform: translateX(7vw);
}
.top .sliderBox .slick-next {
  position: absolute;
  z-index: 5;
  transform: translateX(-7vw);
}
.top h1 {
  position: absolute;
  z-index: 2;
  font-size: 7em;
  color: white;
  margin: 0;
  right: 2vw;
  bottom: 2vw;
  font-family: Lora;
  text-align: right;
  line-height: 0.9em;
  mix-blend-mode: overlay;
}

.works {
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  flex-wrap: wrap;
}
.works p {
  width: 100%;
}
.works .piece {
  cursor: pointer;
  width: 28vw;
  height: 20vw;
  margin: 1vw 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: all 1s;
  background-size: 100%;
}
.works .piece:hover {
  background-size: 110%;
  background-position: 50% 50%;
}

.contact {
  width: 100%;
  height: 105vh;
}
.contact form {
  width: 37%;
  min-width: 300px;
  height: 77%;
  margin: 5% auto;
  border: solid 1px;
  padding: 0.7em;
  background-color: white;
}
.contact form::before {
  content: "";
  position: absolute;
  background: repeating-linear-gradient(45deg, #3368c4, #3368c4 10px, #fdfff7 10px, #fdfff7 20px, #e83758 20px, #e83758 30px, #fdfff7 30px, white 40px);
  width: 105%;
  height: 105%;
  top: -2.5%;
  left: -2.5%;
  border: solid 1px;
  z-index: -1;
}
.contact form .contactItem {
  width: 100%;
}
.contact form .contactItem label {
  display: block;
  margin: 3% 0;
}
.contact form .contactItem input {
  width: 100%;
}
.contact form .contactItem:nth-child(3) {
  width: 100%;
  height: 50%;
}
.contact form .contactItem:nth-child(3) textArea {
  width: 100%;
  height: 75%;
}
.contact form input[type="submit"] {
  left: 50%;
  transform: translateX(-50%);
  background-color: #3368c4;
  border-radius: 0.5em;
  color: white;
  border: none;
  padding: 0.3em 0.8em;
}

footer {
  text-align: center;
  padding: 1em;
  background-color: #14b1ce;
  color: white;
}

.underlined::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 1px;
  transform: translateX(-50%);
  border-bottom: solid 3.5px #ccb847;
  animation: underline 1s 1 forwards;
  transition-duration: 2s;
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes write {
  0% {
    transform: translateX(0em) rotate(0deg);
  }
  25% {
    transform: translateX(0.3em) rotate(-20deg);
  }
  50% {
    transform: translateX(0em) rotate(0deg);
  }
  75% {
    transform: translateX(0.3em) rotate(20deg);
  }
  100% {
    transform: translateX(0em) rotate(0deg);
  }
}
.showNav {
  width: 40vw;
}

.navbtn {
  position: fixed;
  top: 0;
  height: 12vw;
  margin: 0.3em;
  color: white;
  font-size: 2em;
  z-index: 3;
  cursor: pointer;
}

.imgBox {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.8);
}
.imgBox .slick-slider {
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 90vh;
}
.imgBox .slick-slider .slick-list, .imgBox .slick-slider .slick-track {
  width: 100vw;
  height: 90vh;
}
.imgBox .slick-slider .slick-prev {
  position: absolute;
  z-index: 5;
  transform: translateX(7vw) scale(1.7, 1.7);
}
.imgBox .slick-slider .slick-prev::before {
  content: "《";
}
.imgBox .slick-slider .slick-next {
  position: absolute;
  z-index: 5;
  transform: translateX(-7vw) scale(1.7, 1.7);
}
.imgBox .slick-slider .slick-next::before {
  content: "》";
}
.imgBox .closeImgBox {
  z-index: 8;
  color: white;
  position: absolute;
  right: 0;
  margin: 0.5em;
  margin-right: 1em;
  font-size: 1.5em;
}
.imgBox .closeImgBox:hover {
  color: yellow;
}
.imgBox img {
  height: 85%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 479px) {
  body {
    height: 100%;
  }

  .top {
    height: 91vh;
  }
  .top .sliderBox .slick-list .slick-track .img:nth-child(2), .top .sliderBox .slick-list .slick-track .slick-slide:nth-child(4) {
    background-position: 35% 40%;
  }

  .nav .navItem {
    margin: 5vw;
  }

  .top h1 {
    font-size: 4em;
  }

  .about {
    padding: 3em 0;
  }
  .about .avatar {
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 40vw;
    height: 40vw;
  }
  .about .info {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .works .piece {
    width: 100%;
    height: 20vh;
    background-position: 50% 30%;
  }
  .works .piece:hover {
    background-size: 110%;
    background-position: 50% 35%;
  }

  .contact form {
    width: 85%;
  }

  .showNav {
    width: 100vw;
  }

  .imgBox img {
    height: unset;
    width: 90vw;
  }
  .imgBox .slick-slider .slick-prev, .imgBox .slick-slider .slick-next {
    opacity: 0;
  }
}
