.works
  padding: 4vw
  & p
    text-align: center
    @extend %title
  & .pieces
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    & .piece
      cursor: pointer
      width: 30vw
      height: 20vw
      min-height: 120px
      margin: 1vw 0
      background-size: cover
      background-repeat: no-repeat
      background-position: 50% 50%
      transition: all 1s
      background-size: 100%
      &:hover
        background-size: 110%
        background-position: 50% 50%

.float
  animation: float 1s 1 both

@keyframes float
  0%
    transform: translateY(50%)
  100%
    transform: translateY(0%)

+mq('desktop',min)
  .works
    padding: 0 70px
    .pieces .piece
      width: 29vw
      margin: 8px 0

@media only screen and (max-width: 657px)
  .works
    & .pieces  
      & .piece
        width: 90vw
        height: 20vh
        background-position: 50% 30%
        &:hover
          background-size: 110%
          background-position: 50% 35%